<form action= "/links" method = post>
	<input type = "text" name = "title" placeholder="bookmark name">
  <input type = "text" name = "url" placeholder="url">
  <input type = "text" name = "tag" placeholder="tag">
	<input type = "submit" value = "Add Bookmark">
</form>
