<form action='/links/new'>
  <button type='submit' formaction='/links/new'>Add Bookmark</button> <br>
</form>
<br>
<ul id='links'>
  <%@links.each_with_index do |link, index|%>
  <li>
    <%=index+1%>: <a href = "<%=link.url%>"><%=link.title%></a>
  </li>
  <%end%>
</ul>
<form action='/tags/search_tag' method='post'>
  <input type='text' name='search_tag' placeholder='tag'><br>
  <input type='submit' value='Search tag'>
</form>
